1.What are data structures, and why are they important?
-Data structures are a way of organizing and storing data in a computer so that it can be used efficiently. They are important for programming because they allow developers to manage and manipulate data effectively, leading to optimized performance and easier code maintenance.
2.  Explain the difference between mutable and immutable data types with examples
Mutable data types can be changed means once defined after that they can be updated like lists,sets and dictionaries whereas immutable can not be changed once after defining like tuples.
3.What are the main differences between lists and tuples in Python?
- Lists are mutable whereas tuples are not i.e immutable.
-Lists have many in built functions whereas tuples have only two functions.
-Lists use [] brackets whereas tuples use () brackets.
-Tuples can be accessed faster than list.
4. Describe how dictionaries store data.
- Dictionaries in python store data in the form of key and value pair.
Example – A={‘name’:’abc,’age’:21}
5. Why might you use a set instead of a list in Python?
- I might use set instead of a list in python because sets remove duplicacy. Set to not show duplicate data multiple times.
Ex-A={1,2,2,2,3,3}
Print(A)
A={1,2,3}
 6.What is a string in Python, and how is it different from a list?
- Strings in python are stored as individual character in continuous locations with two way index for each location. Listen strings have a lot in common yet differences too list a stored exactly like strings in the memory except that because some of their objects are larger than others they store a reference at each index instead of single character as in strings.
Strings are not mutable whereas lists are.

7.How do tuples ensure data integrity in Python?
-Tuples ensure data integrity in python as they are immutable
8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs, allowing for efficient retrieval, insertion, and deletion of data. It uses a hash function to map keys to indices within an array, known as "buckets" or "slots." When a key-value pair is inserted, the hash function computes an index from the key, and the value is stored at that index. For retrieval, the same hash function is applied to the key to quickly locate the corresponding value.
 9. Can lists contain different data types in Python?
-Yes,lists contain different data types in Python.
Ex-lst=[“abc”,21,2.1,3i+2j}
 10.Explain why strings are immutable in Python.
- Strings are immutable in python because we cannot change individual elements of a string in place.
11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries can be much more useful than lists for example suppose we wanted to store all our friends’ cell phone numbers we could create a list of pairs name of friend phone number but once this list becomes long enough searching this list for a specific phone number will get time consuming better would be if we could index the list by our friend’s name this is precisely what a dictionary does
12.Describe a scenario where using a tuple would be preferable over a list.
- A scenario where using a tuple would be preferable over a list where the data cannot be changed .For example -the tuple containing  employee ids or date of birth records can not be changed.
13. How do sets handle duplicate values in Python?
-Sets remove the duplicate values while executing the program.Sets take it as one value only.
Ex-A={1,2,2,2,3,3}
Print(A)
A={1,2,3}

14. How does the “in” keyword work differently for lists and dictionaries?
-	In keyword in list is used to check if this mentioned value is the member of the given list whereas in keyword in dictionary is used to check the existence of keys in the dictionary.
15. Can you modify the elements of a tuple? Explain why or why not?
- No we cannot modify the elements of a tuple because tuple is an immutable data type in python.
16. What is a nested dictionary, and give an example of its use case?
- Unlisted dictionary is a dictionary inside a dictionary.
A use case can be organizing student  information by class, with the class name as the outer key and student details (name, ID, etc.) as the inner dictionary
 17. Describe the time complexity of accessing elements in a dictionary.
- Python dictionaries are implemented using hash tables. When you access a value by key, the hash table uses a hash function to quickly determine the "bucket" where the key-value pair is stored. This hashing process takes constant time on average, resulting in O(1) lookup time.
  18.In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries in the scenario where we don't have values in pairs.For example ,we just have to store a list of students participating in a sport from one class.
19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- A dictionary is an unordered set of key: value pairs. It’s a value can contain references to any type of object. You cannot tell the order or position of key value pair in a dictionary as there is no index associated. Internally the key: value pairs of a dictionary are associated with one another with some internal function called hash function.
20.Explain the difference between a list and a dictionary in terms of data retrieval.
- Data retrieval in a list is done through indexing. Each value in a list is stored on any particular index using which we can retrieve the data whereas in a dictionary the data retrieval is done using the key. . Internally the key: value pairs of a dictionary are associated with one another with some internal function called hash function.

In [ ]:
# Write a code to create a string with your name and print it.
name=input("enter your name")
print (name)

enter your nameShruti
Shruti

In [ ]:
#Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"
str="Python Programming"
print(str[0:3])

Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase
txt="hello"
x=txt.upper()
print(x)

HELLO

In [ ]:
 #Write a code to replace the word "apple" with "orange" in the string "I like apple"
str="I like apple"
str.replace("apple","orange")

'I like orange'

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it
lst=[]
for i in range(1,6):
  lst.append(i)
print (lst)

[1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
lst1=[1,2,3,4]
lst1.append(10)
lst1

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst1=[1,2,3,4,5]
lst1.remove(3)
lst1

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst=['a','b','c','d']
lst[1]

'b'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10,20,30,40,50]
for i in range(len(lst)-1,-1,-1):
  print(lst[i])

50
40
30
20
10

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
tup

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup=('red', 'green', 'blue', 'yellow')
for i in range(len(tup)-1,-1,-1):
  print(tup[i])

yellow
blue
green
red

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup=(10, 20, 5, 15)
min(tup)

5

In [ ]:
#. 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [ ]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=('mango','apple','grapes')
print('kiwi'in fruits)

False

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a','b','c'}
set1

{'a', 'b', 'c'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1, 2, 3, 4, 5}
set1.clear()
set1

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1, 2, 3, 4}
set1.remove(4)
set1

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={2,3,4}
set1.union(set2)

{1, 2, 3, 4}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [ ]:
#.21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={'name':'ab','age':'12','city':'24'}
dict1

{'name': 'ab', 'age': '12', 'city': '24'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1= {'name': 'John', 'age': 25}
dict2={"country": "USA"}
dict1.update(dict2)
dict1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1={'name': 'Alice', 'age': 30}
print(dict1["name"])

Alice

In [ ]:
#24.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1={'name': 'Alice', 'city': 'Paris'}
"city"in dict1

True

In [ ]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lst1=[1,2,3,4,5]
tup=(1,2,3,4,5)
dict1={"name":"abc","class":10,"age":15}
print(lst1,"is a list")
print(tup,"is a tuple")
print(dict1,"is a dictionary")

[1, 2, 3, 4, 5] is a list
(1, 2, 3, 4, 5) is a tuple
{'name': 'abc', 'class': 10, 'age': 15} is a dictionary

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

list1 = [random.randint(1, 100) for _ in range(5)]
list1.sort()
print(list1)

[20, 42, 49, 58, 61]

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index.
str=['abc','def','rth','ghi']
str[3]

'ghi'

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1={'name': 'Alice', 'city': 'Paris'}
dict2={'Occ':'doctor','age':30}
dict1.update(dict2)
dict1

{'name': 'Alice', 'city': 'Paris', 'Occ': 'doctor', 'age': 30}

In [ ]:
#30. Write a code to convert a list of strings into a set.
str=['abc','def','rth','ghi']
set1=set(str)
set1

{'abc', 'def', 'ghi', 'rth'}